@model PagedList.IPagedList<HutechDriver.Models.EF.Trip>
@using PagedList.Mvc;
@using HutechDriver.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;

@{
    ViewBag.Title = "Danh sách đơn đặt xe";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/manager" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/manager/booking" class="nav-link">Danh sách đơn đặt xe</a>
        </li>
    </ul>
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách đơn đặt xe</h3>
        </div>
        <div class="row">
            <div class="col-6">
                @using (Html.BeginForm("Index", "Booking", FormMethod.Get, new { }))
                {
                    <div class="input-group input-group-sm">
                        @Html.TextBox("SearchText", "", new { @class = "form-control" })
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-info btn-flat">Tìm kiếm</button>
                        </span>
                        <select id="filterStatus" style="float:right">
                            @if (ViewBag.filterStatus == "")
                            {
                                <option selected value="">Tất cả</option>
                            }
                            else
                            {
                                <option value="">Tất cả</option>
                            }
                            @if (ViewBag.filterStatus == "Hoàn thành")
                            {
                                <option selected value="Hoàn thành">Hoàn thành</option>
                            }
                            else
                            {
                                <option value="Hoàn thành">Hoàn thành</option>
                            }
                            @if (ViewBag.filterStatus == "Đang chạy")
                            {
                                <option selected value="Đang chạy">Đang chạy</option>
                            }
                            else
                            {
                                <option value="Đang chạy">Đang chạy</option>
                            }
                            @if (ViewBag.filterStatus == "Chưa nhận")
                            {
                                <option selected value="Chưa nhận">Chưa nhận</option>
                            }
                            else
                            {
                                <option value="Chưa nhận">Chưa nhận</option>
                            }
                            @if (ViewBag.filterStatus == "Đã nhận đơn")
                            {
                                <option selected value="Đã nhận đơn">Đã nhận đơn</option>
                            }
                            else
                            {
                                <option value="Đã nhận đơn">Đã nhận đơn</option>
                            }
                            @if (ViewBag.filterStatus == "Đã hủy")
                            {
                                <option selected value="Đã hủy">Đã hủy</option>
                            }
                            else
                            {
                                <option value="Đã hủy">Đã hủy</option>
                            }
                        </select>
                    </div>

                }

            </div>
            <div class="col-6">
                @using (Html.BeginForm("ExportToExcel", "Booking", FormMethod.Post))
                {
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary"><i class="fas fa-file-csv"></i>  Export to Excel </button>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <table class="table table-bordered" id="tripTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên khách hàng</th>
                                <th>SDT</th>
                                <th>Trạng thái</th>
                                <th>Tài xế</th>
                                <th>Thời gian đặt</th>



                            </tr>
                        </thead>

                        <tbody>
                            @{
                                IdentityDbContext<ApplicationUser> context = new IdentityDbContext<ApplicationUser>();
                                if (Model != null && Model.Any())
                                {
                                    var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                                    foreach (var item in Model)
                                    {
                                        var find = context.Users.FirstOrDefault(p => p.Id == item.UserId);

                                                        <tr data-widget="expandable-table" aria-expanded="false">
                                                            <td>@item.Id</td>
                                                            <td>@item.FullName</td>
                                                            <td>@find.PhoneNumber</td>
                                                            <td>
                                                                @if (item.Status == "Hoàn thành")
                                                                {
                                                                    <i class="fas fa-circle text-success"></i>
                                                                }
                                                                else if (item.Status == "Đang chạy")
                                                                {
                                                                    <i class="fas fa-circle text-warning"></i>
                                                                }
                                                                else if (item.Status == "Chưa nhận")
                                                                {
                                                                    <i class="fas fa-circle text-danger"></i>
                                                                }
                                                                else if (item.Status == "Đã hủy")
                                                                {
                                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="far fa-circle" style="color:orange;"></i>
                                                                }
                                                                @item.Status
                                                            </td>
                                                            <td> @item.DriverBook</td>
                                                            <td> @item.TimeBook</td>
                                                       
                                                        </tr>

                                        <tr class="expandable-body">
                                            <td colspan="10">
                                                <p>

                                                    Nơi đi:   @item.StartLocation <br />
                                                    Nơi đến:   @item.EndLocation  <br />
                                                    Khoảng cách  @item.Distance      <br />
                                                    Giá :  @HutechDriver.Common.Common.FormatNumber(item.Price) <br />
                                                    Thời gian đặt @item.Time  <br />
                                                    Thời gian tạo đơn @item.OrderDate  <br />
                                                    Mã Số người dùng:@item.UserId  <br />
                                                    Mã số tài xế    :    @item.DriverId

                                                </p>

                                            </td>
                                        </tr>


                                    }
                                }
                            }

                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6" style="text-align:right;">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<script src="~/Content/clients/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/Content/clients/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<!-- AdminLTE for demo purposes -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Content/js/Excel.js"></script>
<script>
    $(function () {
        $("#filterStatus").change(function () {
            var filterStatus = $(this).val();
            const url = '@Url.Action("Index", "Booking")';
            $.ajax({
                url: url,
                type: "GET",
                data: { filterStatus: filterStatus },
                success: function (rs) {
                    // Xử lý kết quả trả về
                    $('body').html(rs);
                },
                error: function (rs) {
                    alert("Không tìm thấy đơn");
                }
            });
        });
    });
</script>

