@model PagedList.IPagedList<HutechDriver.Models.EF.Trip>
@using PagedList.Mvc;
@using HutechDriver.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "BookingTrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .cancel-button {
        display: inline-block;
        padding: 19px 30px;
        background-color: #dc3545;
        color: #fff;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        font-weight: bold;
    }

    .cancel-button:hover {
        background-color: #c82333;
    }

    .detail-button {
        display: inline-block;
        padding: 19px 30px;
        background-color: deepskyblue;
        color: #fff;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        font-weight: bold;
    }

    .detaill-button:hover {
        background-color: #c82333;
    }
    .button-container {
          display: flex;
          justify-content: space-between;
    }

    .button-container a {
      flex: 1;
      margin-right: 10px;
}
</style>
<link href="~/Content/css/Style2.css" rel="stylesheet" />

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách đơn đặt xe</h3>
        </div>
        <div class="card-body" style="overflow-x: auto; max-width: 100%; ">
            <table class="table table-bordered  table-container"id="tripTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        @*<th>Nơi đi</th>
                        <th>Nơi đến</th>*@
                        <th>Khoảng cách</th>
                        <th>Thời gian</th>
                        <th>Giá</th>
                        <th>Thời gian đặt xe</th>
                        <th>Trạng thái</th>
                        <th>Thanh toán</th>
                    </tr>
                </thead>
                <tbody>
                    @{


                        var ID = User.Identity.GetUserId();


                        if (Model != null && Model.Any())
                        {
                            var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                            foreach (var item in Model)
                            {
                                if ((item.Status == "Chưa nhận" && item.UserId == ID && item.IsPaid != true) || (item.Status == "Đang chạy" && item.UserId == ID && item.IsPaid != true) || (item.Status == "Đã nhận đơn" && item.UserId == ID && item.IsPaid != true))
                                {
                                    <tr id=" trow_@item.Id">
                                        <td>@item.Id</td>
                                        @*<td>@item.StartLocation</td>
                            <td>@item.EndLocation</td>*@
                                        <td>@item.Distance</td>
                                        <td>@item.Time</td>
                                        <td>@HutechDriver.Common.Common.FormatNumber(item.Price)</td>
                                        <td>@item.TimeBook</td>
                                        <td>
                                            @if (item.Status == "Đang chạy")
                                            {
                                                <i class="fas fa-motorcycle" style="color: #acc016;"></i>
                                            }
                                            else if (item.Status == "Chưa nhận")
                                            {
                                                <i class="fas fa-circle text-danger" style="color:red;"></i>
                                            }
                                            else
                                            {
                                                <i class="far fa-circle" style="color:orange;"></i>
                                            }
                                            @item.Status
                                        </td>
                                        <td>
                                            @if (item.IsPaid == false)
                                            {
                                                <i class="fas fa-clock fa-pulse" style="color: #353a82;"></i> <p>Chưa thanh toán</p>
                                            }
                                            else
                                            {
                                                <i class="fas fa-check-circle" style="color: #2f933a;"></i><p>Đã thanh toán</p>
                                            }
                                        </td>
                                    <tr class="expandable-body">
                                        <td colspan="10">
                                            <p>
                                                <div class="button-container">
                                                    <a href="/BookingTrip/Payment/@item.Id" class="btn btn-sm btn-primary">Thanh toán</a> <br />
                                                    @*<button id="deny-trip" type="button" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Hủy đơn</button>*@
                                                    <a href="/BookingTrip/Detail/@item.Id" class="btn btn-sm detail-button">Chi tiết</a> <br />
                                                    <a href="#" id="deny-trip" data-id="@item.Id" class="btn btn-sm cancel-button">Hủy đơn</a>
                                                </div>

                                            </p>

                                        </td>
                                    </tr>

                                    </tr>
                                    i++;
                                }
                            }
                        }
                    }

                </tbody>
            </table>

            <div class="row">
                <div class="col-6"></div>
                <div class="col-6" style="text-align:right;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>


@section scripts{
    <script>
       const denyBtns = document.querySelectorAll('#deny-trip');

    denyBtns.forEach(denyBtn => {
        denyBtn.addEventListener('click', function(event) {
            const tripId = $(this).data('id');
            const url = '@Url.Action("DeleteTrip", "BookingTrip")';

            $.ajax({
                type: "POST",
                url: url,
                data: { id: tripId } ,
                success: function (rs) {
                    if (rs.success) {
                        window.location.href = "/home/index";
                        alert('Hủy đơn thành công!.');
                    }
                },
                error: function (rs) {
                    alert('Hủy đơn không thành công!.');
                    location.reload(true);
                }
            });
        });
    });
    </script>
}



