@model PagedList.IPagedList<HutechDriver.Models.EF.Trip>
@using PagedList.Mvc;
@using HutechDriver.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "Danh sách đơn đặt xe";
    Layout = "~/Areas/Driver/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/driver/home/index" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/driver/bookingdriver" class="nav-link">Danh sách đơn đặt xe</a>
        </li>
    </ul>
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách đơn đặt xe</h3>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <table class="table table-bordered" id="tripTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên khách hàng</th>
                                <th>Thời gian đặt</th>
                                <th>Giá</th>

                            </tr>
                        </thead>

                        <tbody>
                            @{
                                IdentityDbContext<ApplicationUser> context = new IdentityDbContext<ApplicationUser>();
                                if (Model != null && Model.Any())
                                {
                                    var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                                    foreach (var item in Model)
                                    {
                                        if (item.Status == "Chưa nhận")
                                        {
                                            var find = context.Users.FirstOrDefault(p => p.Id == item.UserId);

                                            <tr data-widget="expandable-table" aria-expanded="false">
                                                <td>@item.Id</td>
                                                <td>@item.FullName</td>
                                                <td> @item.TimeBook</td>
                                                <td>@HutechDriver.Common.Common.FormatNumber(item.Price) </td>
                                            </tr>

                                            <tr class="expandable-body">
                                                <td colspan="10">
                                                    <p>

                                                        Nơi đi :    @item.StartLocation <br />
                                                        Nơi đến:   @item.EndLocation  <br />
                                                        @item.Distance      <br />

                                                        @item.Time  <br />
                                                        Thời gian tạo đơn @item.OrderDate  <br />

                                                        <button id="accept-trip" type="button" data-id="@item.Id" data-user-id="@item.UserId" class="btn btn-sm btn-primary">Nhận đơn</button>
                                                        @*<button id="deny-trip" type="button" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Từ chối đơn</button>*@

                                                    </p>

                                                </td>
                                            </tr>


                                        }
                                    }
                                }
                            }

                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6" style="text-align:right;">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>


@section scripts{
    <script>
       const denyBtns = document.querySelectorAll('#deny-trip');
         
        denyBtns.forEach(denyBtn => {
        denyBtn.addEventListener('click', function(event) {
            const tripId = this.getAttribute('data-id');
            const url = '@Url.Action("ErrorTrip", "BookingDriver")';

            $.ajax({
                type: "POST",
                url: url,
                data: { id: tripId } ,
                success: function (rs) {
                    if (rs.success) {
                        alert('Hủy đơn thành công!.');
                        location.reload(true);
                    }
                },
                error: function (rs) {
                    alert('Hủy đơn không thành công!.');
                    location.reload(true);
                }
            });
        });
    });
        const acceptBtns = document.querySelectorAll('#accept-trip');
        acceptBtns.forEach(acceptBtn => {
            acceptBtn.addEventListener('click', function(event) {
            const tripId = this.getAttribute('data-id');
            const userId = this.getAttribute('data-user-id');
            const url = '@Url.Action("AcceptTrip", "BookingDriver")';
            $.ajax({
                type: "POST",
                url: url,
                data: { id: tripId } ,
                success: function (rs) {
                        window.location.href = "/driver/bookingdriver/accepttrip?id=" + tripId;
                        alert('Nhận đơn thành công!.');
                },
                error: function (rs) {
                    alert('Nhận đơn không thành công!.');
                    location.reload(true);
                }
            });
        });
        });




    </script>
}
<script src="~/Content/clients/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/Content/clients/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<!-- AdminLTE for demo purposes -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Content/js/Excel.js"></script>